*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

.container-limite {
    max-width: 1024px;
    margin: 0 auto;
   
}

@media only screen and (max-width: 425px) {
    .container-limite {
        max-width: 400px;
        margin: 0 auto;
       
    }
    
}

@media only screen and (min-width: 426px) and (max-width: 920px) {
    .container-limite {
        max-width: 900px;
        margin: 0 auto;
       
    }
    
}